.toggler {
  border-radius: 20px;
  border: 1px solid #D9E3E3;
  display: inline-flex;
  padding: 12px 20px;
  gap: 13px;
  align-items: flex-end;
  color: #A9A9A9;
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
}

.toggler input {
  display: none;
}

.separator {
  background-color: #D9E3E3;
  width: 1px;
  height: 16px;
}

.selected {
  color: #000;
}